{% extends 'base.html.twig' %}

{% block title %}Witaj!{% endblock %}
{% block stylesheets %}  {{ parent() }} {% endblock %}
    
{% block body %}
    <h1 class="text-center">Witaj w szkole Tobiasza :D</h1>
    </br>
    <div class="text-center">
    <img class="img-fluid" src="{{ asset('build/images/sewing.jpg') }}" title="img" alt="img">
    
    </br></br>
    <div class="btn-block">
        <a class="btn btn-primary" href="/admin">Administracja</a>
        <a class="btn btn-primary" href="/lesson">Terminarz</a>
    </div>
    </div>
</div>


{% block javascripts %}  {{ parent() }} {% endblock %}


{% endblock %}